In [1]:
import pandas as pd
import matplotlib.pyplot as plt


%matplotlib inline

In [2]:
age = pd.read_csv('age_brackets.csv')
age.head()

,Unnamed: 0,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,percent_under_25,percent_25_44,percent_45_64,percent_65_over
0,0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,5264.0,0.495215,0.272104,0.153228,0.079452
1,1,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,32521.0,0.289428,0.309011,0.246758,0.154803
2,2,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,13164.0,0.291352,0.261624,0.254911,0.192113
3,3,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,14101.0,0.318402,0.288975,0.228221,0.164401
4,4,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,33929.0,0.319057,0.273034,0.239605,0.168304

In [3]:
education = pd.read_csv('education_brackets.csv')
education.head()

,Unnamed: 0,YEAR,STATE,PLACE,GEOID,hs_diploma,some_college,college_degree,higher_degree
0,0,2019,Alabama,Auburn,16000US0103076,NaN,NaN,NaN,NaN
1,1,2019,Alabama,Birmingham,16000US0107000,43461.0,29575.0,41064.0,17825.0
2,2,2019,Alabama,Dothan,16000US0121184,13301.0,10527.0,13043.0,4586.0
3,3,2019,Alabama,Hoover,16000US0135896,7519.0,11903.0,22049.0,14626.0
4,4,2019,Alabama,Huntsville,16000US0137000,22840.0,29023.0,48668.0,24883.0

In [4]:
income = pd.read_csv('household_income.csv')
income.head()

,Unnamed: 0,GISJOIN,YEAR,STATE,STATEA,PLACE,PLACEA,GEOID,median_income,error_margin
0,0,G01003076,2019,Alabama,1,Auburn,3076,16000US0103076,46031,8334
1,1,G01007000,2019,Alabama,1,Birmingham,7000,16000US0107000,36753,3232
2,2,G01021184,2019,Alabama,1,Dothan,21184,16000US0121184,47411,4860
3,3,G01035896,2019,Alabama,1,Hoover,35896,16000US0135896,98689,6257
4,4,G01037000,2019,Alabama,1,Huntsville,37000,16000US0137000,54342,4497

In [5]:
brackets = pd.merge(age, education,
                   left_on = ['STATE','PLACE','YEAR','GEOID'], right_on = ['STATE','PLACE','YEAR','GEOID'],
                   how = 'inner')
brackets.head()

,Unnamed: 0_x,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,percent_under_25,percent_25_44,percent_45_64,percent_65_over,Unnamed: 0_y,hs_diploma,some_college,college_degree,higher_degree
0,0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,5264.0,0.495215,0.272104,0.153228,0.079452,0,NaN,NaN,NaN,NaN
1,1,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,32521.0,0.289428,0.309011,0.246758,0.154803,1,43461.0,29575.0,41064.0,17825.0
2,2,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,13164.0,0.291352,0.261624,0.254911,0.192113,2,13301.0,10527.0,13043.0,4586.0
3,3,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,14101.0,0.318402,0.288975,0.228221,0.164401,3,7519.0,11903.0,22049.0,14626.0
4,4,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,33929.0,0.319057,0.273034,0.239605,0.168304,4,22840.0,29023.0,48668.0,24883.0

In [6]:
brackets = pd.merge(brackets, income,
                   left_on = ['STATE','PLACE','GISJOIN','YEAR','GEOID'], right_on = ['STATE','PLACE','GISJOIN','YEAR','GEOID'],
                   how = 'inner')
brackets.head()

,Unnamed: 0_x,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,...,Unnamed: 0_y,hs_diploma,some_college,college_degree,higher_degree,Unnamed: 0,STATEA,PLACEA,median_income,error_margin
0,0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,...,0,NaN,NaN,NaN,NaN,0,1,3076,46031,8334
1,1,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,...,1,43461.0,29575.0,41064.0,17825.0,1,1,7000,36753,3232
2,2,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,...,2,13301.0,10527.0,13043.0,4586.0,2,1,21184,47411,4860
3,3,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,...,3,7519.0,11903.0,22049.0,14626.0,3,1,35896,98689,6257
4,4,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,...,4,22840.0,29023.0,48668.0,24883.0,4,1,37000,54342,4497

In [7]:
brackets['percent_hs_diploma'] = brackets.hs_diploma / brackets.Total
brackets['percent_some_college'] = brackets.some_college / brackets.Total
brackets['percent_college_degree'] = brackets.college_degree / brackets.Total
brackets['percent_higher_degree'] = brackets. higher_degree / brackets.Total

In [8]:
bracket = brackets[['GISJOIN','YEAR','STATE','PLACE','GEOID','Total','total_under_25','total_25_44','total_45_64',
            'total_65_up','percent_under_25','percent_25_44','percent_45_64','percent_65_over','hs_diploma',
            'some_college','college_degree','higher_degree','percent_hs_diploma','percent_some_college',
            'percent_college_degree','percent_higher_degree','median_income','error_margin']]

In [9]:
bracket.tail()

,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,...,hs_diploma,some_college,college_degree,higher_degree,percent_hs_diploma,percent_some_college,percent_college_degree,percent_higher_degree,median_income,error_margin
629,G72010334,2019,Puerto Rico,Caguas zona urbana,16000US7210334,69960.0,18918.0,17418.0,17680.0,15944.0,...,15427.0,8403.0,15215.0,5174.0,0.220512,0.120111,0.217481,0.073957,23102,2494
630,G72014290,2019,Puerto Rico,Carolina zona urbana,16000US7214290,133757.0,34873.0,33577.0,34306.0,31001.0,...,25778.0,14053.0,38767.0,7897.0,0.192723,0.105064,0.289832,0.059040,28436,2692
631,G72032522,2019,Puerto Rico,Guaynabo zona urbana,16000US7232522,62550.0,13931.0,15027.0,18335.0,15257.0,...,7084.0,6111.0,20216.0,10188.0,0.113253,0.097698,0.323197,0.162878,42202,5166
632,G72063820,2019,Puerto Rico,Ponce zona urbana,16000US7263820,106546.0,30727.0,24850.0,26803.0,24166.0,...,21714.0,7757.0,24651.0,7749.0,0.203799,0.072804,0.231365,0.072729,15978,1752
633,G72076770,2019,Puerto Rico,San Juan zona urbana,16000US7276770,310323.0,82512.0,75133.0,80919.0,71759.0,...,47183.0,24519.0,81503.0,38115.0,0.152045,0.079011,0.262639,0.122824,23045,1438

In [10]:
bracket.to_csv('bracket_captsone.csv')

In [11]:
bracket['college'] = bracket.college_degree + bracket.higher_degree
bracket.head()

<ipython-input-11-625256b1e543>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bracket['college'] = bracket.college_degree + bracket.higher_degree

,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,...,some_college,college_degree,higher_degree,percent_hs_diploma,percent_some_college,percent_college_degree,percent_higher_degree,median_income,error_margin,college
0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,5264.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46031,8334,NaN
1,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,32521.0,...,29575.0,41064.0,17825.0,0.206878,0.140780,0.195468,0.084849,36753,3232,58889.0
2,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,13164.0,...,10527.0,13043.0,4586.0,0.194113,0.153629,0.190348,0.066927,47411,4860,17629.0
3,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,14101.0,...,11903.0,22049.0,14626.0,0.087663,0.138775,0.257065,0.170522,98689,6257,36675.0
4,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,33929.0,...,29023.0,48668.0,24883.0,0.113297,0.143968,0.241416,0.123431,54342,4497,73551.0

In [17]:
bracket['percent_total_college_degree']= bracket.college / bracket.Total 
bracket.head(1)

,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,...,error_margin,college,college_rank,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree
0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,5264.0,...,8334,NaN,NaN,545.0,0.141956,276.0,58.0,5.0,7.0,NaN

In [12]:
bracket['college_rank'] = bracket['college'].rank()
bracket.head()

<ipython-input-12-6971159cf90a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bracket['college_rank'] = bracket['college'].rank()

,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,...,college_degree,higher_degree,percent_hs_diploma,percent_some_college,percent_college_degree,percent_higher_degree,median_income,error_margin,college,college_rank
0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,5264.0,...,NaN,NaN,NaN,NaN,NaN,NaN,46031,8334,NaN,NaN
1,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,32521.0,...,41064.0,17825.0,0.206878,0.140780,0.195468,0.084849,36753,3232,58889.0,489.0
2,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,13164.0,...,13043.0,4586.0,0.194113,0.153629,0.190348,0.066927,47411,4860,17629.0,98.0
3,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,14101.0,...,22049.0,14626.0,0.087663,0.138775,0.257065,0.170522,98689,6257,36675.0,357.0
4,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,33929.0,...,48668.0,24883.0,0.113297,0.143968,0.241416,0.123431,54342,4497,73551.0,519.0

In [13]:
bracket['income_rank'] = bracket['median_income'].rank(ascending = False)
bracket['income_rank_perc'] = bracket['median_income'].rank(pct = True)
bracket.head()

<ipython-input-13-acfb39926ece>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bracket['income_rank'] = bracket['median_income'].rank(ascending = False)
<ipython-input-13-acfb39926ece>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bracket['income_rank_perc'] = bracket['median_income'].rank(pct = True)

,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,...,percent_hs_diploma,percent_some_college,percent_college_degree,percent_higher_degree,median_income,error_margin,college,college_rank,income_rank,income_rank_perc
0,G01003076,2019,Alabama,Auburn,16000US0103076,66254.0,32810.0,18028.0,10152.0,5264.0,...,NaN,NaN,NaN,NaN,46031,8334,NaN,NaN,545.0,0.141956
1,G01007000,2019,Alabama,Birmingham,16000US0107000,210080.0,60803.0,64917.0,51839.0,32521.0,...,0.206878,0.140780,0.195468,0.084849,36753,3232,58889.0,489.0,613.0,0.034700
2,G01021184,2019,Alabama,Dothan,16000US0121184,68522.0,19964.0,17927.0,17467.0,13164.0,...,0.194113,0.153629,0.190348,0.066927,47411,4860,17629.0,98.0,523.0,0.176656
3,G01035896,2019,Alabama,Hoover,16000US0135896,85772.0,27310.0,24786.0,19575.0,14101.0,...,0.087663,0.138775,0.257065,0.170522,98689,6257,36675.0,357.0,93.0,0.854890
4,G01037000,2019,Alabama,Huntsville,16000US0137000,201594.0,64320.0,55042.0,48303.0,33929.0,...,0.113297,0.143968,0.241416,0.123431,54342,4497,73551.0,519.0,426.0,0.329653

In [14]:
bracket['rank_under_25'] = bracket['total_under_25'].rank()
bracket['rank_25_44'] = bracket['total_25_44'].rank()
bracket['rank_45_64'] = bracket['total_45_64'].rank()
bracket['rank_65_up'] = bracket['total_65_up'].rank()

In [15]:
bracket.to_csv('bracket2_capstone.csv')

In [18]:
bracket.to_csv('bracket_3_capstone.csv')

## Pulling out 20 cities with similar population sizes to compare measures to Franklin

### I will then calculate the difference in measures from Franklin's measures and rank

In [19]:
bracket['Total'].between(81783.0, 84184.0, inclusive=True)

0      False
1      False
2      False
3      False
4      False
       ...
629    False
630    False
631    False
632    False
633    False
Name: Total, Length: 634, dtype: bool

In [20]:
bracket[(bracket.Total >= 81783.0) & (bracket.Total <= 84184.0)]

,GISJOIN,YEAR,STATE,PLACE,GEOID,Total,total_under_25,total_25_44,total_45_64,total_65_up,...,error_margin,college,college_rank,income_rank,income_rank_perc,rank_under_25,rank_25_44,rank_45_64,rank_65_up,percent_total_college_degree
35,G06000884,2019,California,Alhambra,16000US0600884,83732.0,21704.0,23422.0,23063.0,15543.0,...,5128,27718.0,250.0,231.0,0.637224,74.0,201.0,263.0,325.0,0.331032
44,G06008786,2019,California,Buena Park,16000US0608786,81783.0,21112.0,24692.0,21531.0,14448.0,...,9333,24344.0,190.0,138.0,0.783912,64.0,230.0,229.0,285.0,0.297666
52,G06013214,2019,California,Chino Hills,16000US0613214,83843.0,25036.0,22088.0,25115.0,11604.0,...,14319,36776.0,359.0,71.0,0.889590,146.0,167.0,310.0,166.0,0.438629
97,G06045484,2019,California,Manteca,16000US0645484,83037.0,27855.0,22022.0,20939.0,12221.0,...,8795,16873.0,90.0,171.0,0.731861,203.0,166.0,217.0,189.0,0.203199
99,G06046898,2019,California,Merced,16000US0646898,83668.0,35220.0,25169.0,15702.0,7577.0,...,7076,12248.0,31.0,491.0,0.227129,328.0,241.0,56.0,34.0,0.146388
100,G06047766,2019,California,Milpitas,16000US0647766,84184.0,19935.0,30913.0,21362.0,11974.0,...,8971,41224.0,406.0,13.0,0.981073,41.0,340.0,222.0,182.0,0.489689
104,G06049670,2019,California,Mountain View,16000US0649670,82726.0,20700.0,33978.0,18597.0,9451.0,...,15480,47349.0,441.0,9.0,0.987382,56.0,378.0,144.0,88.0,0.572359
119,G06057792,2019,California,Pleasanton,16000US0657792,81794.0,23903.0,20334.0,24144.0,13413.0,...,13922,42748.0,416.0,4.0,0.995268,118.0,119.0,290.0,239.0,0.522630
232,G12043975,2019,Florida,Melbourne,16000US1243975,83030.0,22393.0,19928.0,21457.0,19252.0,...,4426,22738.0,168.0,517.0,0.186120,89.0,106.0,226.0,418.0,0.273853
316,G19073335,2019,Iowa,Sioux City,16000US1973335,83288.0,30292.0,22250.0,18819.0,11927.0,...,5956,15192.0,64.0,444.0,0.301262,240.0,172.0,149.0,179.0,0.182403
343,G24032025,2019,Maryland,Germantown CDP,16000US2432025,83707.0,26455.0,26084.0,22931.0,8237.0,...,4160,34526.0,334.0,91.0,0.858044,173.0,262.0,260.0,48.0,0.412463
346,G24072450,2019,Maryland,Silver Spring CDP,16000US2472450,83247.0,25601.0,27935.0,19291.0,10420.0,...,5379,33779.0,328.0,133.0,0.791798,159.0,294.0,162.0,127.0,0.405768
374,G26080700,2019,Michigan,Troy,16000US2680700,84087.0,23875.0,20639.0,24156.0,15417.0,...,5258,43903.0,423.0,57.0,0.911672,116.0,133.0,291.0,319.0,0.522114
427,G34074000,2019,New Jersey,Trenton,16000US3474000,83211.0,29173.0,24039.0,20323.0,9676.0,...,5517,10720.0,21.0,620.0,0.023659,222.0,218.0,203.0,97.0,0.128829
481,G41047000,2019,Oregon,Medford,16000US4147000,83084.0,25835.0,20347.0,21492.0,15410.0,...,9442,19247.0,117.0,423.0,0.334385,166.0,120.0,227.0,318.0,0.231657
505,G47027740,2019,Tennessee,Franklin,16000US4727740,83096.0,26900.0,25257.0,20754.0,10185.0,...,10317,39753.0,392.0,70.0,0.891167,180.0,244.0,212.0,120.0,0.478398
516,G48004462,2019,Texas,Atascocita CDP,16000US4804462,82572.0,29396.0,24165.0,20868.0,8143.0,...,13158,27095.0,241.0,68.0,0.894322,227.0,220.0,214.0,47.0,0.328138
531,G48026232,2019,Texas,Flower Mound town,16000US4826232,83205.0,27774.0,18712.0,27835.0,8884.0,...,11916,37270.0,363.0,15.0,0.977918,201.0,76.0,376.0,71.0,0.447930
545,G48043888,2019,Texas,Longview,16000US4843888,82461.0,28895.0,23400.0,18132.0,12034.0,...,5479,18240.0,106.0,431.0,0.321767,219.0,199.5,127.0,184.0,0.221195
591,G51047672,2019,Virginia,Lynchburg,16000US5147672,82168.0,35523.0,20513.0,14377.0,11755.0,...,6836,20260.0,131.0,421.0,0.337539,332.0,126.0,31.0,172.0,0.246568
599,G53003180,2019,Washington,Auburn,16000US5303180,82021.0,27806.0,23167.0,19303.0,11745.0,...,5677,21277.0,145.0,239.0,0.624606,202.0,192.0,164.0,170.0,0.259409